<h2>Task 1<h2>

In [1]:
Domain = ['S','B','K','P']

In [2]:
Z = Domain
I = Domain
F = Domain
N = Domain

In [3]:
combinations = []

for element1 in Z:
    for element2 in I:
      for element3 in F:
        for element4 in N:
            combination = (element1, element2, element3, element4)
            combinations.append(combination)

In [11]:
slns = []

for x in combinations:
  z,i,f,n = x
  count = 0

  if(z!='P'):
    count+=1

  if(i != f):
    count+=1

  if(f=='B' or f =='S'):
    count+=1

  if(z==i and z!=n and z!=f):
    count+=1

  if(n!='K'):
    count+=1

  if(count == 5):
    slns.append(x)

In [12]:
slns

[('S', 'S', 'B', 'B'),
 ('S', 'S', 'B', 'P'),
 ('B', 'B', 'S', 'S'),
 ('B', 'B', 'S', 'P'),
 ('K', 'K', 'S', 'S'),
 ('K', 'K', 'S', 'B'),
 ('K', 'K', 'S', 'P'),
 ('K', 'K', 'B', 'S'),
 ('K', 'K', 'B', 'B'),
 ('K', 'K', 'B', 'P')]

<h3>Task 2 </h3>

In [13]:
Domain = [1,2,3]

In [14]:
A = Domain
M = Domain
R = Domain
S = Domain

In [16]:
combinations = []

for element1 in A:
    for element2 in S:
      for element3 in M:
        for element4 in R:
            combination = (element1, element2, element3, element4)
            combinations.append(combination)

In [25]:
slns = []

for x in combinations:
  a,s,m,r = x
  count = 0

  if(a!=s):
    count+=1

  if((a==m and a==2) or (a!=m and (a==3 or m==3))):
    count+=1

  if(r!=a and r!=m and r!=s):
    count+=1

  if(r>m):
    count+=1

  if(count == 4):
    slns.append(x)

In [26]:
slns

[(2, 1, 2, 3), (3, 1, 1, 2)]

<h2>Task 4<h2>

In [ ]:
Domain = ['X1','X2','X3', 'X4','Y1' ,'Y2', 'Y3', 'Y4']

In [ ]:
G = Domain
Q = Domain
L = Domain
C = Domain
T = Domain

In [ ]:
combinations = []

for element1 in G:
    for element2 in Q:
      for element3 in C:
        for element4 in T:
          for element5 in L:
              combination = (element1, element2, element3, element4, element5)
              combinations.append(combination)

In [ ]:
len(combinations)

32768

In [ ]:
combinations

In [ ]:
slns = []

for x in combinations:
  g,q,c,t,l = x
  count = 0

  # At any given time, each faculty member can do at most one task (G, Q, A, T, L)
  if ( g!=q and g!=c and g!=t and g!=l and q!=c and q!=t and q!=l and g!=l and c!=t and c!=l and t!=l ):
    count+=1

  #The AI class (C) must happen before AI lab (L).  [ C < L]
  if(c[1] < l[1]):
    count +=1

  #The contents (G) should be gathered before taking the TRW Lab (T).  [G < T]
  if(g[1] < t[1]):
    count +=1

  #The TRW Lab (T) should be finished by 10 am.    [T = {X1,X2,Y1,Y2}]
  if( t[1] == '1' or t[1] == '2'):
    count +=1

  #X is going to gather contents for TRW (G) since s/heâ€™s good at browsing contents.		[G = {X1,X2,X3,X4}]
  if( g[0] == 'X'):
    count +=1

  #The person taking TRW Lab (T) does not take AI Lab (L) [T != L]
  if( t[0]!=l[0] ):
    count+=1

  #The person taking AI Lab (L) must also take the AI class (C) [C= L]
  if( l[0]==c[0] ):
    count+=1

  #Checking quiz scripts (Q) takes 2 consecutive hours and hence should start at or before 10 am.  	[Q != {1,2,3}]
  if( q[1]=='1' or q[1]=='2' or q[1]=='3'):
    count+=1

  #Taking AI Lab (L) takes 2 consecutive hours and hence should start at or before 10 am.		[L == {1,2,3}]
  if( l[1]=='1' or l[1]=='2' or l[1]=='3'):
    count+=1

  #The other faculty member not conducting TRW lab (T) should attend the lab, and hence cannot do anything else at that time.
  if(t[1]!=g[1] and t[1]!=q[1] and t[1]!=c[1] and t[1]!=l[1]):
     count+=1

  if(count==10):
    slns.append(x)

#len(slns)
slns

[('X1', 'X3', 'Y1', 'X2', 'Y3')]

In [ ]:
  G     Q     C     T     L
('X1', 'X3', 'Y1', 'X2', 'Y3'),
('X1', 'Y3', 'Y1', 'X2', 'Y3')]

In [ ]:
temp = []

for element1 in G:
    for element2 in Q:
      temp.append((element1,element2))

for x in temp:
  #g,q,c,t,l = x
  count = 0
  g,q = x

  # At any given time, each faculty member can do at most one task (G, Q, A, T, L)
  if ( g!=q and g!=c and g!=t and g!=l):
    print(g,q)

X1 X2
X1 X3
X1 X4
X1 Y1
X1 Y2
X1 Y3
X1 Y4
X2 X1
X2 X3
X2 X4
X2 Y1
X2 Y2
X2 Y3
X2 Y4
X3 X1
X3 X2
X3 X4
X3 Y1
X3 Y2
X3 Y3
X3 Y4
X4 X1
X4 X2
X4 X3
X4 Y1
X4 Y2
X4 Y3
X4 Y4
Y1 X1
Y1 X2
Y1 X3
Y1 X4
Y1 Y2
Y1 Y3
Y1 Y4
Y2 X1
Y2 X2
Y2 X3
Y2 X4
Y2 Y1
Y2 Y3
Y2 Y4
Y3 X1
Y3 X2
Y3 X3
Y3 X4
Y3 Y1
Y3 Y2
Y3 Y4